@font-face {
  font-family: 'Lato';
  src: url('../fonts/LatoRegular.eot');
  src: url('../fonts/LatoRegular.eot') format('embedded-opentype'),
  url('../fonts/LatoRegular.woff2') format('woff2'),
  url('../fonts/LatoRegular.woff') format('woff'),
  url('../fonts/LatoRegular.ttf') format('truetype'),
  url('../fonts/LatoRegular.svg#LatoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/LatoLight.eot');
    src: url('../fonts/LatoLight.eot') format('embedded-opentype'),
         url('../fonts/LatoLight.woff2') format('woff2'),
         url('../fonts/LatoLight.woff') format('woff'),
         url('../fonts/LatoLight.ttf') format('truetype'),
         url('../fonts/LatoLight.svg#LatoLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/LatoItalic.eot');
    src: url('../fonts/LatoItalic.eot') format('embedded-opentype'),
         url('../fonts/LatoItalic.woff2') format('woff2'),
         url('../fonts/LatoItalic.woff') format('woff'),
         url('../fonts/LatoItalic.ttf') format('truetype'),
         url('../fonts/LatoItalic.svg#LatoItalic') format('svg');
    font-weight: normal;
    font-style: italic;     
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/LatoBold.eot');
    src: url('../fonts/LatoBold.eot') format('embedded-opentype'),
         url('../fonts/LatoBold.woff2') format('woff2'),
         url('../fonts/LatoBold.woff') format('woff'),
         url('../fonts/LatoBold.ttf') format('truetype'),
         url('../fonts/LatoBold.svg#LatoBold') format('svg');
    font-weight: 700;
    font-style: normal;     
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/LatoBlack.eot');
    src: url('fonts/LatoBlack.eot') format('embedded-opentype'),
         url('fonts/LatoBlack.woff2') format('woff2'),
         url('fonts/LatoBlack.woff') format('woff'),
         url('fonts/LatoBlack.ttf') format('truetype'),
         url('fonts/LatoBlack.svg#LatoBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

