$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$accent: #75a423;
$accent-dark: #59840e;
$accent2: #ffd800;
$text-color-dark: #10100f;
$text-color: #84847f;

$body-bg: #fff;
$footer-bg: #373732;
$white: #fff;

$list-color: #343430;
